---
const platform = "github";
const username = "cbastian-araque";
---

<footer>
  <p>¡Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>!</p>
</footer>